<footer class="footer">
    <div class="footer__left">
      <div class="footer__logo">
        <img src="./assets/icons/logo_small_f.png" alt="лого">
        <h4>25 frame</h4>
      </div>
    </div>
    <div class="footer__right">
      <p>Наші соц мережі</p>
      <ul class="footer__links">
        <li><img class="inst" src="./assets/icons/instagram.png" alt="instagram"></li>
        <li><img class="tg" src="./assets/icons/telegram.png" alt="telegram"></li>
        <li><img class="tt" src="./assets/icons/tiktok.png" alt="tiktok"></li>
        <li><img class="fb" src="./assets/icons/facebook.png" alt="facebook"></li>
      </ul>
    </div>
  </footer>