<header>
    <nav class="header__nav">
      <div class="header__logo">
        <img src="./assets/icons/logo_small.png" alt="лого">
        <h4>25 frame</h4>
        <div class="header__logo-overlay"></div>
      </div>
      
      <ul class="header__menu">
        <li><a href="./index.html">Головна</a></li>
        <li><a href="./schedule.html">Розклад</a></li>
        <li><a href="./films.html">Фільми</a></li>
        <li><a href="./contacts.html">Контакти</a></li>
        <li><a href="./about.html">Про нас</a></li>
      </ul>
      <ul class="header__menu-right">
        <li><img class="search" src="./assets/icons/search.png" alt="search"></li>
        <li><img class="profile" src="./assets/icons/profile.png" alt="profile"></li>
        <!-- <li><img class="menu" src="./assets/icons/menu.png" alt="menu"></li> -->
      </ul>
    </nav>
</header>